@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #f5f7fb; */
}

.css-1iledgx-MuiFormControl-root {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}
